.title {
  text-align: center;
}
.homepage-text {
  text-align: center;
}
body {
  background-color: #0e0e10;
  color: white;
  font-family: sans-serif;
}

section {
  position: absolute;
  top: 4rem;
  left: 12%;
  width: 75%;
  height: 1rem;
  padding: 2rem;
}

.navi {
}
/* nav */
ul {
  list-style-type: none;
  margin: -0.5rem;
  padding: -1rem;
  overflow: hidden;
  background: grey;
}
ul li {

}
li {
  float: left;
}

li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover {
  background: green;
}

.current {
  background: darkgrey;
}
/* nav */

img {
  float: right;
  height: 25%;
  width: 25%;
}

p {
  cursor: default;
}

/* if screen width is smaller than 768px then */

@media only screen and (max-width: 768px) {

    ul {
      list-style-type: none;
      margin: -0.5rem;
      padding: -1rem;
      overflow: hidden;
      background: grey;
    }
    ul li {

    }
    li {
      float: left;
    }

    li a {
        display: block;
        color: inherit;
        text-align: center;
        padding: 16px 18px;
        text-decoration: none;
    }

    li a:hover {
      background: blue;
    }

    img {
      float: right;
      height: 25%;
      width: 25%;
    }

}
